html, body {
  height: 100%;
  width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
/*   position:absolute; */
  display:flex;
  align-content: center;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:1rem;
  border:2px solid;
  padding:10px;
}
